* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-green-color: #47cfac;
  --main-grey-color: #e6e9ed;
  --main-black-color: #22272d;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

/* Header Home */

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--main-green-color);
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
  font-size: 2rem;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("https://i.ibb.co/xYCKLhS/Cover-tiny.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}

.home-main-text {
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}

.home-main-button {
  width: 110px;
  height: 50px;
  background-color: var(--main-green-color);
  display: grid;
  align-items: center;
}

.home-main-button a {
  font-weight: 700;
  font-size: 1.8rem;
}

/* Blogs Page */

.hero {
  background-color: var(--main-grey-color);
  padding: 40px 0;
}

.hero-container {
  width: auto;
  max-width: 980px;
  margin: 0 auto;
}

.hero-main-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 20px;
}

.hero-main-post img {
  width: 90%;
  grid-column: 1 / 3;
}

.hero-post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-post-text h3 {
  font-size: 4rem;
}

.hero-post-text a {
  font-size: 1.4rem;
  border: solid 1px var(--main-green-color);
  width: 30%;
  padding: 10px;
}
